/ {
    macros {
        workpass: workpass {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp O &kp U &kp R &kp UNDER &kp W &kp O &kp R &kp K &kp UNDER &kp P &kp A &kp S &kp S>;
            label = "WORKPASS";
        };
        
        perspass: perspass {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp O &kp U &kp R &kp UNDER &kp P &kp E &kp R &kp S &kp UNDER &kp P &kp A &kp S &kp S>;
            label = "PERSPASS";
        };
    };
};
